@import "tailwindcss";

:root {
  --bg-dark-main: #0d0f11;
  --bg-card: #181a1d;
  --border-color: #2a2d32;
  --primary-blue: #316cf4;
  --text-muted: #9ba1a6;
}

body {
  background-color: var(--bg-dark-main);
  color: #ffffff;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

@keyframes slideInRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-fadeIn{
  animation: fadeIn 0.3s ease-in-out forwards;
}
